
body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Set padding to keep content from hitting the edges*/
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

ul {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    list-style-type: none;
}


h2 {
    color: #F7A55D;
}

td {
    background-color: #49C6D0;
    color: white;
    font-size: 15px;
}

    td a {
        background-color: white;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }



.navbar-nav li {
    margin-left: 100px;
    margin-right: 100px;
    font-size: small;
}



ul p {
    text-decoration: none;
    text-transform: uppercase;
}



#navbar {
    background-color: white;
}

a {
    font-family: 'Gill Sans Bold', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    color: #F7A55D;
}

    a:hover {
        text-decoration: none;
        color: #49C6D0;
        text-transform: uppercase;
    }


.btnNewTrip {
    background-color: #F7A55D;
    color: white;
}

/*Index Photo*/
#photo {
    margin-left: -200px;
    margin-top: -1px;
    
}

/*PlanIt Logo*/
img {
    margin-top: -60px;
    margin-left: -40px;
}

p {
    color: #49C6D0;
}



.budget {
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ffffff;
    font-size: 13px;
    background: #F7A55D;
    padding: 7px 10px 7px 10px;
    text-decoration: none;
    text-transform: uppercase;

}

    .budget:hover {
        background: #49C6D0;
        text-decoration: none;
        color: white;
    }

.ListHeadings {
    color: white;
    text-transform: uppercase;
    background-color: #F7A55D;
    text-align:center;
    font-size: 19px;
}




.profilePics{
    margin-right: 50px;
    margin-top: 50px;
  
}

.contactPics{
    margin-left: 150px;
}

/*div .bio{
    margin-left: 150px;
}
.bio{
    margin-right: -15px;
}

h5{
    color: #F7A55D;
}*/

.Price {
    color: #49C6D0;
    font-size:larger;
    background-color:ghostwhite;
}

form {
    display: inline;
}

/*Contact Images */
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
}

.container:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.col-sm-4 h4{
    background: #49C6D0;
    color:white;
    text-align: center;
}

/*DropDown Options*/
.Selections {
    color: #34c1cb;
}

h5 {
    color: #34c1cb;
}

h9{
    color: rgba(0,0,0,0.4);
}

