@{
    ViewBag.Title = "About PlanIt";
}

<h2>@ViewBag.Title</h2><br />

@*<h3>@ViewBag.Message</h3>*@


<div class="align-content-center">
    <div class="paragraphs">
        <p>
            PlanIt is a web application that helps individuals plan their upcoming road trip
            within the United States based around a starting budget.
            This app helps you to plan the approximate cost of gas, hotels,
            restaurants and even helps you to plan events during your trip.
        </p><br />
    </div>
</div>

<div >
    <h3 class="testTitle">Testimonials</h3><br /><br />
    <div>
        <div>
            <p>
                <img src="~/images/MomKids.jpg" height="250" class="testPic"  />
                <h5>Aria - Single Mom</h5>
                "I love PlanIt! I was able to used their website to plan a vacation
                for me and my two boys. I am a single parent on a tight budget. With Plan It,
                I was able to map out a fun family road trip that fit my price range.
                I set my budget parameters at the beginning of the planning process. I don’t think
                I would have been able to plan the perfect trip without the PlanIt."    - Aria<br /><br /><br />
            
            <p><br /><br /><br /><br />
                <img src="~/images/FriendsTrip.jpg" height="250" class="testPic">
                <h5>Judy & Jenna - Best Friends</h5>
                "My best friend and I decided to plan a summer road trip to California
                before we go off to different colleges. We drove across country and we wouldn’t
                have made it to California without the help of PlanIt. We mapped out each of our
                stops to different cities along the way. It was an amazing experience that we wouldn’t
                have had without the help of PlanIt."   - Judy and Jenna
            </p>
        </div>
    
        
    </div>
    <div >
  
        </div>
</div>







