@{
    ViewBag.Title = "About PlanIt";
}

<h2>@ViewBag.Title</h2><br />

@*<h3>@ViewBag.Message</h3>*@
<div class="align-content-center">
    <p>
        PlanIt is a web application that helps individuals plan their upcoming road trip
        within the United States based around a starting budget.
        This app helps you to plan the approximate cost of gas, hotels,
        restaurants and even helps you to plan events during your trip.
    </p>
</div>
<h3 class="align-self-lg-center">Testimonials</h3>
<div class="form-row">
    <div class="form-group col-md-2">
        <img src="~/images/momAndBoysPlanItGirls341378.jpg" style="width:25%" />

    </div>
    <div class="form-group col-md-2">
        <img src="~/images/FriendsPlanIt.jpg" width="250" height="150">
    </div>
</div>
<div class="form-row">
    <div class="text-md-center">
        <p>
            I love PlanIt. I was as able to used their website to plan a summer vacation
            for me and my two boys. I am a single parent on a tight budget. With Plan It,
            I was able to map out a fun summer road trip that fit my price range.
            I set my budget parameters at the beginning of the planning process. I don’t think
            I would have been able to plan the perfect trip without the PlanIt.<br />- Areej
        </p>
    </div>
    <div class="text-md-center">
        <p>
            My best friend and I decided to plan a summer road trip to California
            before we go off to different colleges. We drove across country and we wouldn’t
            have made it to California without the help of PlanIt. We mapped out each of our
            stops to different cities along the way. It was an amazing experience that we wouldn’t
            have had without the help of PlanIt.<br /> - Judy and Jenna
        </p>
    </div>
</div>






