@{
    ViewBag.Title = "About PlanIt";
}
<h2>@ViewBag.Title.</h2><br />

<h3>@ViewBag.Message</h3>


<p>
    PlanIt is a web application that helps individuals plan their upcoming road trip 
    within the United States based around a starting budget. 
    This app helps you to plan the approximate cost of gas, hotels, 
    restaurants and even helps you to plan events during your trip.
</p>

