@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" class="" href="~/Content/Site.css"  />
</head>
<body>
    <div class="contactPics" >
        <img src="~/images/Anna.png" class="profilePics" width="220" height="220" />
        <img src="~/images/Jasmine.jpg" class="profilePics" width="220" height="220" />
        <img src="~/images/Sarah.png" class="profilePics" width="220" height="220" />
    </div>
    @*<div class="bio">
        <h5>Anna Baseley</h5>
        <p>(C#) .NET back-end developer dedicated to forming details that suit the big picture.</p>
        <h5>Jasmine Hollis</h5>
        <p>Aspiring full-stack developer with a desire to positively impact community through techonology and visual art.</p>
    </div>*@

</body>

</html>