@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" class="" href="~/Content/Site.css"  />
</head>
<body>
        <div class="flex-container">
            <div class="BioPic">
                <img src="~/images/Anna.png" class="profilePics" width="220" height="220" />
                <a class="link" href="https://www.linkedin.com/in/akbaseley/" />Find Anna on LinkedIn<br /></a>
                <a class="email" href="mailto:akbaseley@gmail.com">Shoot Anna an email</a>
            </div>
            <div class="BioPic">
                <img src="~/images/Jasmine.jpg" class="profilePics" width="220" height="220" />
                <a class="link" href="https://www.linkedin.com/in/jasmine-hollis/">Find Sarah on LinkedIn</a><br />
                <a class="email" href="mailto:jasmine.hollis@rocketmail.com?subject=Email%20Subject&body=Email%20Body%20Text">Shoot Jasmine an email!</a>
            </div>
            <div class="BioPic">
                <img src="~/images/Sarah.png" class="profilePics" width="220" height="220" />
                <a class="link" href="https://www.linkedin.com/in/sarah-brown-detroit/">Find Sarah on LinkedIn</a><br />
                <a class="email" href="mailto:ms.sarahelizabethb@gmail.com?subject=Email%20Subject&body=Email%20Body%20Text">Shoot Sarah an email!</a>
            </div>
        </div>
    @*<div class="bio">
        <h5>Anna Baseley</h5>
        <p>(C#) .NET back-end developer dedicated to forming details that suit the big picture.</p>
        <h5>Jasmine Hollis</h5>
        <p>Aspiring full-stack developer with a desire to positively impact community through techonology and visual art.</p>
    </div>*@

</body>

</html>