@{
    ViewBag.Title = "Contact";
}
<h2>Contact A Team Member</h2>

<div class="flex-container">
    <div class="item1">
        <img src="~/images/Anna.png" class="profilePics" width="220" height="220" /><br /><br />
        <h5>Anna Baseley</h5>
        <p><a href="https://www.linkedin.com/in/akbaseley" target="_blank"><img src="~/images/Linkedin.png" width="30" height="30" /></a></p>
    </div>

    <div class="item2">
        <img src="~/images/Jasmine.jpg" class="profilePics" width="220" height="220" /><br /><br />
        <h5>Jasmine Hollis</h5>
        <h6><a href="https://www.linkedin.com/in/jasmine-hollis/" target="_blank"><img src="~/images/Linkedin.png" width="30" height="30" class="" /></a></h6>
    </div>

    <div class="item3">
        <img src="~/images/Sarah.png" class="profilePics" width="220" height="220" /><br /><br />
        <h5>Sarah Brown</h5>
        <p><a class="link" href="https://www.linkedin.com/in/sarah-brown-detroit/" target="blank"><img src="~/images/Linkedin.png" width="30" height="30" /></a></p>
    </div>
</div>


