@{
    ViewBag.Title = "Home Page";
}


<!DOCTYPE html>

<html>
<head>


    <link rel="stylesheet" class="" href="~/CSS/Main.css" />
</head>
<body>
    <img src="~/images/RoadTrip.jpg" width="1400" height="600" id="photo" />
   
</body>

</html>
