@{
    ViewBag.Title = "Home Page";
}


<!DOCTYPE html>

<html>
<head>


    <link rel="stylesheet" class="" href="~/CSS/Main.css" />
</head>
<body>
    <div>

        <img src="~/images/RoadTrip.jpg" width="1400" height="600" id="photo"/>

    </div>
</body>

</html>
