@{
    ViewBag.Title = "Home Page";
}

@{
    ViewBag.Title = "Home Page";
}
<!DOCTYPE html>

<html>
<head>

    <link rel="stylesheet" class="" href="~/CSS/Main.css" />
</head>
<body>
    <img src="~/images/RoadTrip.jpg" width="1300" height="500" id="photo" />
</body>

</html>
